html, body {
    height: 100%;
    width: 100%;
    font-size: 12px;
    background-color: #efefef;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.title {
    font-size: 18px;
    color: darkslategray;
    margin-bottom: 30px;
}

.input {
    background: url("./images/icons8-search-50.png") no-repeat scroll 7px 7px;
    background-size: 16px;
    width: 300px;
    padding: 8px;
    background-size: 16px;
    padding-left: 30px;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    background-color: white;
}

.search-container{
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    background-color: white;
    display: flex;
    padding: 8px 20px 8px 20px;
    width: 495px;
}
.Ethan-Linker-container {
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    background-color: white;
    display: flex;
    padding: 20px;
    width: 495px;
    height: 100px;
}

.Footer-container{
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    background-color: white;
    display: flex;
    padding: 8px 20px 8px 20px;
    width: 495px;
   
}
.search-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 8px;
    width: 175px;
    background: seagreen;
    color: white;
    border: 3px;
    border-radius: 1px;
}

.search-name {
    color: dimgrey;
    width: 50%;
}
.search-term{
    color: dimgrey;
    width :50%;
}
.user-name {
   width: 50%;
   color: dimgrey;
}
.result-name{
    /* color: black; */
    width: 50%;
}
.result-notfound{
    color: dimgrey;
    width: 50%;
}

.img-tag{
    border: 1px solid grey;
}
.ethan-name {
    width: 50%;
}
.ethan-link{
    color: black;
    margin-top: 8px;
}

.history-details {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.user-img{
    color: dimgrey;
    margin-bottom: 12px;
}
.user-image {
   width: 50%;
}

/* .style-container{
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
} */

.button-container{
    margin-bottom: 25px;
    margin-left: 176px;
}